$color-ambiance : rgb(3, 177, 3);
$font: rgb(209, 165, 102);

html{
    overflow-x: hidden;
}

*{
    top: 0;
    left: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(to bottom, $color-ambiance 1vh, $font 100vh);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250vh;
}

.none{
    display:none !important;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, $color-ambiance, $font);
    text-align: center;


    h1 {
        font-size: 10vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p {
        font-size: 4vw;
    }

    img {
        position: absolute;
        top: calc(100vh - 80px);
        transform: translateX(-50%);
        left: 50%;
    }
}

main{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(26, 56, 190) ;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 80vh;
    max-width: 50vw;

    border: #000000 solid;
    box-shadow: #000000 5px 5px 10px;

    @media screen and (max-width: 720px){
        max-width: none;
        min-width: 100% ;
    }
}


#alerte{
    color: red;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}