$color-ambiance : rgb(3, 177, 3);

*{
    top: 0;
    left: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(to bottom, $color-ambiance 1vh, #4e4e4e 100vh);
    height: 200vh;
}

.none{
    display:none !important;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, $color-ambiance, #4e4e4e);
    text-align: center;


    h1 {
        font-size: 10vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p {
        font-size: 4vw;
    }

    img {
        position: absolute;
        top: calc(100vh - 80px);
        transform: translateX(-50%);
        left: 50%;
    }
}


main{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    display: inline-flexbox;
    margin-top: 70vh;
    width: 100%;
    height: 100px;
    

    &, div{
        background-color: gray;
    }

    .name {
        text-align: center;
    }
}

#alerte{
    color: red;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}